.parent {
    border: 1px black solid;
    padding: 16px;
    display: flex;
}

.parent > .child {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child.left {
}

.child.left > .description {
}

.child.right {
}

.child.right > .image {
    max-width: 200px;
    height: auto;
}