<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="jdbc.url" value="Data Source=C:\Users\RaduVF\Desktop\mpp-proiect-repository-krotek20\project-csharp\radu_mpp" />
	</appSettings>
	<runtime>
		<AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>
	</runtime>
</configuration>