<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Server=DESKTOP-LLHQVU9;Database=L1;Integrated Security=true;" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="ParentTableName" value="CITY" />
		<add key="ChildTableName" value="SHOP" />
		<add key="ChildNumberOfColumns" value="5" />
		<add key="ChildLabelNames"
             value="ID,LOCATION,OPEN_HOUR,CLOSE_HOUR,ID_CITY" />
		<add key="ChildLabelNamesForAdd"
             value="LOCATION,OPEN_HOUR,CLOSE_HOUR,ID_CITY" />
		<add key="ChildTextBoxContent"
             value="1,Location,10,22,1" />
		<add key="ColumnNamesInsertParameters"
             value="@location,@openHour,@closeHour,@idCity" />
		<add key="UpdateQuery"
             value="update SHOP set LOCATION=@location,OPEN_HOUR=@openHour,CLOSE_HOUR=@closeHour,ID_CITY=@idCity where ID=@id" />
		<add key="SelectQuery" value="select * from SHOP" />
		<add key="SelectParent" value="select * from CITY" />
		<add key="SelectChild" value="select * from SHOP where ID_CITY=@id" />
		<add key="DeleteChild" value="delete from SHOP where ID=@id" />
	</appSettings>

	<!--<appSettings>
		<add key="ParentTableName" value="GENERAL_MANAGER" />
		<add key="ChildTableName" value="LOCAL_MANAGER" />
		<add key="ChildNumberOfColumns" value="6" />
		<add key="ChildLabelNames"
             value="ID,NAME,ROLE,CONTACT,ID_CITY,ID_GENERAL_MANAGER" />
		<add key="ChildLabelNamesForAdd"
			 value="NAME,ROLE,CONTACT,ID_CITY,ID_GENERAL_MANAGER" />
		<add key="ChildTextBoxContent"
             value="1,Name,Role,0123456789,1,1" />
		<add key="ColumnNamesInsertParameters"
             value="@name,@role,@contact,@idCity,@idGeneralManager" />
		<add key="UpdateQuery"
             value="update LOCAL_MANAGER set NAME=@name,ROLE=@role,CONTACT=@contact,ID_CITY=@idCity,ID_GENERAL_MANAGER=@idGeneralManager where ID=@id" />
		<add key="SelectQuery" value="select * from LOCAL_MANAGER" />
		<add key="SelectParent" value="select * from GENERAL_MANAGER" />
		<add key="SelectChild" value="select * from LOCAL_MANAGER where ID_GENERAL_MANAGER=@id" />
		<add key="DeleteChild" value="delete from LOCAL_MANAGER where ID=@id" />
	</appSettings>-->
</configuration>