<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">com.radu.salesman.org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:C:\\Users\\RaduVF\\Desktop\\ISS project\\lab3\\iss-project\\salesmanDB</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="com.radu.salesman.domain.User"/>
        <mapping class="com.radu.salesman.domain.Product"/>
        <mapping class="com.radu.salesman.domain.Contact"/>
        <mapping class="com.radu.salesman.domain.Payment"/>
        <mapping class="com.radu.salesman.domain.CartElement"/>
        <mapping class="com.radu.salesman.domain.Cart"/>
        <mapping class="com.radu.salesman.domain.Order"/>
        <mapping class="com.radu.salesman.domain.OrderElement"/>
    </session-factory>
</hibernate-configuration>